

.bibliography-content{
    @include container();

    .bibliography-box{
        margin: 46px 0 70px;

        @media only screen and ( max-width: 1020px){
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        h3{
            width: fit-content;
            margin-bottom: 26px;
            padding-bottom: 4px;
            border-bottom: solid 1px #a9c9e0;
            font-size: 20px;
            font-weight: 500;
            color: #3e3e3e;
        }

        .cards{
            margin-bottom: 51px;
            display: grid;
            grid-template-columns: repeat(2, 442px);
            justify-content: space-between;

            @media only screen and ( max-width: 1020px){
                display: flex;
                flex-direction: column;
            }

            .card{
                width: 100%;
                margin-bottom: 6px;
                padding: 20px 20px 20px 0;
                display: flex;
                flex-direction: column;

                p{
                    font-size: 16px;
                    font-weight: normal;
                    color: #000;

                    a{
                        all: unset;
                        color: #085791;
                    }
                }
            }
        }

        .page-container {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        
            .pages {
              display: flex;
              flex-direction: row;
              align-items: center;
        
              #leftArrow {
                width: 12px;
                height: 22px;
                transform: rotate(180deg);
                margin-right: 5px;
                cursor: pointer;
              }
        
              .numbers {
                display: flex;
                flex-direction: row;
                align-items: center;
        
                span {
                  margin-right: 5px;
                  padding: 5px 10px;
                  font-size: 14px;
                  font-weight: 500;
                  color: #000;
                  cursor: pointer;
                }
                .spot {
                  padding-bottom: 12.5px;
                  color: #3e3e3e;
                }
        
                .current {
                  background-color: #a9c9e0;
                }
              }
        
              #rightArrow {
                width: 12px;
                height: 22px;
                cursor: pointer;
              }
            }
          }
    }
}