footer {
  max-width: 100%;
  padding: 63px 0;
  background-color: #3e3e3e;

  .footer-container {
    @include container();
    display: flex;
    align-items: center;

    .contact-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      h4 {
        margin-bottom: 20px;
        font-size: 24px;
        font-weight: normal;
        color: $border-color;
      }
      div {
        display: flex;
        align-items: center;
        gap: 5px;
      }
      img {
        width: 18px;
        height: 18px;
      }
      a,
      p {
        all: unset;
        font-size: 20px;
        font-weight: 300;
        line-height: 24px;
        color: #fff;
        cursor: pointer;
      }
    }

    .logo-container {
      display: flex;
      align-items: center;
      gap: 20px;

      .unilab-logo {
        width: 57px;
        height: 74px;
        margin-right: 80px;
      }
      .iliauni-logo {
        width: 75px;
        height: 74px;
      }
    }
  }
}
