footer {
  max-width: 100%;
  padding: 63px 0;
  background-color: #3e3e3e;

  .footer-container {
    @include container();
    display: flex;
    align-items: center;

    .contact-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      h4 {
        margin-bottom: 22px;
        padding-left: 45px;
        font-size: 24px;
        font-weight: normal;
        color: #a9c9e0;
      }

      div {
        margin-bottom: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;

  
        .contact-container{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            h4{
                margin-bottom: 22px;
                padding-left: 45px;
                font-size: 24px;
                font-weight: normal;
                color: #a9c9e0;
            }

                div{
                margin-bottom: 10px;
                display: flex;
                flex-direction: row;
                align-items: center;

                img{
                    width: 18px;
                    height: 18px;
                    margin: 0 27px 0 0;
                }

                a{
                    all: unset;
                    font-size: 20px;
                    font-weight: 300;
                    color: #fff;
                }
            }
=======
        img {
          width: 18px;
          height: 18px;
          margin: 0 27px 0 0;
>>>>>>> Stashed changes
        }

        a {
          all: unset;
          font-size: 20px;
          font-weight: 300;
          color: #fff;
          cursor: pointer;
        }
      }
    }

    .logo-container {
      display: flex;
      flex-direction: row;
      align-items: center;

      .unilab-logo {
        width: 88px;
        height: 114px;
        margin-right: 80px;
      }

      .iliauni-logo {
        width: 124.2px;
        height: 123.5px;
      }
    }
  }
}
