main {
  /* Map Section */

  // z-index: -55;
  .map-section {
    @include responsive($phone) {
      max-height: 360px;
      margin-top: 36px;
    }
    margin-top: 68px;
    .container {
      @include container();
      z-index: -2;
      position: relative;
      .map-wrapper {
        height: 537px;

        @include responsive($phone) {
          max-height: 360px;
        }
      }
    }
  }
}
